﻿/*.table-responsive th{
    text-align:center;
}

.table-responsive td{
    text-align:center;
}*/

li{
    display: inline-block;
}

ul{
    display: inline-block;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.5s;
}

.action-wrapper{
    overflow-x: hidden;
    width: 100%;
}

.action-wrapper>a{
    opacity: 1;
    transition: all 0.5s;
}

.action-wrapper:hover ul{
    transform: translateX(-50%);
    opacity: 1;
}

.action-wrapper:hover>a{
    opacity: 0;
}

.table-responsive input{
    border: none;
}






